@model FN.Store.UI.ViewModels.Conta.Login.LoginVM
@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title</h2>
<form method="post">
    <div class="field">
        <label class="label">E-mail</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "input", autofocus = "" })
        <small>
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "is-danger" })
        </small>
    </div>
    <div class="field">
        <label class="label">E-mail</label>
        @Html.TextBoxFor(model => model.Senha, new { @class = "input", autofocus = "", type="password"})
        <small>
            @Html.ValidationMessageFor(model => model.Senha , null, new { @class = "is-danger" })
        </small>
    </div>
    <div class="field">
        @Html.CheckBoxFor(model => model.PermanecerLogado, new { autofocus = "" })
        @Html.LabelFor(model => model.PermanecerLogado, new { @class = "checkbox" })
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" type="submit">Login</button>
        </div>
        <div class="control">
            <button class="button is-link is-light" href="@Url.Action("Index", "Home")">Voltar</button>
        </div>
    </div>
</form>