@model FN.Store.UI.ViewModels.Produtos.AddEdit.ProdutoAddEditVM

@{
    ViewBag.Title = $"{(Model.Id == 0 ? "Adicionar" : "Editar")} Produto";
}

<h1>@ViewBag.Title</h1>

<form caction="/Produtos/AddEdit" method="post">
    <div class="field">
        <label class="label" for="txtNome">Nome:</label>
        <div class="content">
            <input class="input" type="text" name="nome" id="txtNome" value="@Model.Nome" />
            <small>
                @Html.ValidationMessageFor(m => m.Nome, null, new { @class = "is-danger" })
            </small>
        </div>
    </div>
    <div class="field">
        <label class="label">Preço:</label>
        <input class="input" type="text" name="preco" value="@Model.Preco" />
        <small>
            @Html.ValidationMessageFor(m => m.Preco, null, new { @class = "is-danger" })
        </small>

    </div>
    <div class="field">
        <label class="label">Tipo:</label>
        <div class="control">
            <div class="select">
                <select name="TipoDeProdutoId">
                    <option value="">Selecione... </option>
                    @foreach (FNStore.Domain.Entities.TipoDeProduto tipo in ViewBag.Tipos)
                    {
                        <option @(tipo.Id == Model.TipoDeProdutoId ? "selected" : "")
                                value="@tipo.Id">
                            @tipo.Nome
                        </option>
                    }
                </select>
            </div>
        </div>
        <small>
            @Html.ValidationMessageFor(m => m.TipoDeProdutoId, null, new { @class = "is-danger" })
        </small>

    </div>
    <div class="field">
        <label class="label">Quantidade:</label>
        <input class="input" type="text" name="qtde" value="@Model.Qtde" />
        <small>
            @Html.ValidationMessageFor(m => m.Qtde, null, new { @class = "is-danger" })
        </small>

    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" type="submit">Salvar</button>
        </div>
        <div class="control">
            <button class="button is-link is-light" href="@Url.Action("Index")">Voltar</button>
        </div>
    </div>
</form>

@section scripts{
}