@{
    ViewBag.Title = $"Listagem de produtos";
}

<h1>@ViewBag.Title</h2>
<div>
    <a href="@Url.Action("AddEdit")" class="button is-primary">Novo produto</a>
</div>
<div class="mt-2 table-container">
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Preco</th>
                <th scope="col">Tipo</th>
                <th scope="col">Qtde</th>
                <th scope="col">DataCadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (FN.Store.UI.ViewModels.Produtos.Index.ProdutoIndexVM produto in Model)
            {
                <tr id="produto-@produto.Id">
                    <th scope="row">@produto.Id</th>
                    <td>@produto.Nome</td>
                    <td>@produto.Preco.ToString("C2")</td>
                    <td>@produto.Tipo</td>
                    <td>@produto.Qtde</td>
                    <td>@produto.DataCadastro.ToString("dd/MM/yyyy h:mm")</td>
                    <td>
                        <a href="@Url.Action("AddEdit", new { id=produto.Id})" class="button is-info is-outlined is-small">Editar</a>
                        <button type="button" class="button is-danger is-small" onclick="DelProd(@produto.Id, '@produto.Nome')">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function DelProd(id, nome) {
        const resp = confirm(`Deseja excluir o produto '${nome}'?`)
        if (resp == true) {
            deleteData(id)
        }
    }

    function deleteData(id) {
        return fetch(`https://localhost:5001/Produtos/DelProd/${id}`, {
            method: 'delete'
        }).then(response => response.status)
            .then(status => {
                if (status == 200) {
                    let tr = document.querySelector(`#produto-${id}`)
                    tr.remove()
                }
            });
    }
</script>