@{
    ViewBag.Title = $"Listagem de produtos";
}

<h2>@ViewBag.Title</h2>
<div>
    <a href="@Url.Action("AddEdit")" class="btn btn-primary">Novo produto</a>
</div>
<div class="mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Preco</th>
                <th scope="col">Tipo</th>
                <th scope="col">Qtde</th>
                <th scope="col">DataCadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (FNStore.Domain.Entities.Produto produto in Model)
            {
                <tr id="produto-@produto.Id">
                    <th scope="row">@produto.Id</th>
                    <td>@produto.Nome</td>
                    <td>@produto.Preco</td>
                    <td>@produto.TipoDeProduto.Nome</td>
                    <td>@produto.Qtde</td>
                    <td>@produto.DataCadastro</td>
                    <td>
                        <a href="@Url.Action("AddEdit", new { id=produto.Id})" class="btn btn-sm btn-outline-primary">Editar</a>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="DelProd(@produto.Id, '@produto.Nome')">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function DelProd(id, nome) {
        const resp = confirm(`Deseja excluir o produto '${nome}'?`)
        if (resp == true) {
            deleteData(id)
        }
    }

    function deleteData(id) {
        return fetch(`https://localhost:5001/Produtos/DelProd/${id}`, {
            method: 'delete'
        }).then(response => response.status)
            .then(status => {
                if (status == 200) {
                    let tr = document.querySelector(`#produto-${id}`)
                    tr.remove()
                }
            });
    }
</script>