<h2>Listagem de produtos</h2>
<div>
    <a href="~/Produtos/AddEdit">Novo produto</a>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preco</th>
            <th>Tipo</th>
            <th>Qtde</th>
            <th>DataCadastro</th>
            <th></th>
        </tr>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr id="produto-@produto.Id">
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td>@produto.Preco</td>
                <td>@produto.Tipo</td>
                <td>@produto.Qtde</td>
                <td>@produto.DataCadastro</td>
                <td>
                    <a href="~/Produtos/AddEdit/@produto.Id">Editar</a>
                    <button onclick="DelProd(@produto.Id, '@produto.Nome')">Deletar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function DelProd(id, nome) {
        const resp = confirm(`Deseja excluir o produto '${nome}'?`)
        if (resp == true) {
            deleteData(id)
        }
    }

    function deleteData(id) {
        return fetch(`https://localhost:5001/Produtos/DelProd/${id}`, {
            method: 'delete'
        }).then(response => response.status)
            .then(status => {
                if (status == 200) {
                    let tr = document.querySelector(`#produto-${id}`)
                    tr.remove()
                }
            });
    }
</script>